.card{
    margin-bottom: 30px;
}
.card-footer{
    padding: 0px;
}

.card-footer button{
    cursor: pointer;
}

.btn-block{
    width: 288px;
    height: 38px;
}

.text-center{
    padding-top: 10px;
}