<p>
    <button routerLink="/admin/new-product" type="button" class="btn btn-primary">add new product</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products; index as i">
            <td>{{ p.title }}</td>
            <td>{{ p.price }}</td>
            <td>
                <!-- fix the get id from firebase -->
                <a [routerLink]="['/admin/products', p.i]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>